@font-face {
    font-family: 'Futura Medium';
    src: url('../assets/fonts/FuturaNewMedium-Reg.eot');
    src: url('../assets/fonts/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/FuturaNewMedium-Reg.woff') format('woff'),
    url('../assets/fonts/FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//@font-face {
//    font-family: 'San Francisco Pro Display Regular';
//    src: url('../../assets/fonts/SFProDisplay-Regular.eot');
//    src: url('../../assets/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
//    url('../../assets/fonts/SFProDisplay-Regular.woff') format('woff'),
//    url('../../assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'San Francisco Pro Display Bold';
//    src: url('../../assets/fonts/SFProDisplay-Bold.eot');
//    src: url('../../assets/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
//    url('../../assets/fonts/SFProDisplay-Bold.woff') format('woff'),
//    url('../../assets/fonts/SFProDisplay-Bold.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Rubik Mono One Regular';
//    src: url('../../assets/fonts/RubikMonoOne-Regular.eot');
//    src: url('../../assets/fonts/RubikMonoOne-Regular.eot?#iefix') format('embedded-opentype'),
//    url('../../assets/fonts/RubikMonoOne-Regular.woff') format('woff'),
//    url('../../assets/fonts/RubikMonoOne-Regular.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}