.create {
  background: #22272C;
  height: 573px;
  position: relative;
}

.create-about {
  height: 640px;
}


.create__line {
  position: absolute;
  left: 8%;
  top: 29.7%;
  width: 390px;
  height: 10px;
  margin: 0;
  border: none;
  background: #09B9C5;
  transform: rotate(-90deg);
}

.create-dev__line {
  top: 33%;
}

.create__service-line {
  top: 33%;
}

.create__circle {
  position: absolute;
  bottom: 30%;
  right: 0;
}

.create__d-circle {
  position: absolute;
  bottom: 5%;
  right: 0;
}

.create__dev-circle {
  position: absolute;
  right: 0;
  bottom: 15%;
}

.create__title {
  margin: 115px 0 0 0;
  font-weight: 500;
  font-size: 72px;
  line-height: 135%;
  color: #FFFFFF;
}

.create-dev__title {
  max-width: 907px;
}

.create__btn {
  margin-top: 38px;
  margin-left: 200px;
}