.promo {
  min-height: 500px;
  padding-top: 120px;
  position: relative;
}

.promo__text {
  position: absolute;
  white-space: nowrap;
  left: -150%;
  bottom: 30%;
}

.promo__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #FFFFFF;
}

.promo__main-list {
  font-weight: 500;
  font-size: 28px;
  line-height: 145%;
  color: #FFFFFF;
}

.promo__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #CCCCCC;
}
