.studio {
  background: #22272C;
  height: 695px;
}

.studio__wrap {
  margin-top: 203px;
}

.studio__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 135%;
  color: #FFFFFF;
}

.studio__desc {
  font-weight: normal;
  width: 400px;
  font-size: 16px;
  line-height: 145%;
  color: #D2D2D2;
}

.studio__btn {
  margin-top: 40px;
  white-space: nowrap;
}


.studio__img {
  width: 100%;
  height: 502px;
  margin-top: 100px;
}