.btn {
  background: transparent;
  min-width: 250px;
  height: 60px;
  padding: 0;
  //position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #09B9C5;
  transition: all 0.3s ease;
  &::after {
    content: url("../assets/img/arrow-submitwithellipse.svg");
    padding-left: 15px;
    //position: absolute;
    vertical-align: -17px;
    display: inline-block;
    width: 70px;
    height: 48px;
  }
  &:hover {
    transition: all 0.3s ease;
    color: #136F75;
  }
}